// Variables
// -----------
// Use the same color all over the place? Need to do some math with height and
// width and text size? Sass supports variables as well as basic math operations
// and many useful functions.

// For complete documentation:
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

// Margin/Padding
$margin: $gutter;
$padding: 2rem;

// Typography
$base-font-family: $font-size;
$heading-font-family: $font-size;

// Font Sizes
$base-font-size: $font-size;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.3;

// Letter spacing
$base-letter-spacing: 0.03em;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 5;
$base-z-index: 0;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #fafafa;

// Brand Colors
$primary-color: rgb(0, 15, 159);

// Action Colors
$status-color: #8dbe51;
$warning-color: #ddc44f;
$error-color: #cd4533;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $primary-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;


// breakpoints
$small-screen: 320px;
$medium-screen: 720px;
$large-screen: 960px;
$max-screen: 1200px;
