// main--menu

.main-menu__container{
    background-color: $primary-color;
}
.menu--main{
    &__content{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        ul{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-evenly;
            li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
                a{
                    width: 100%;
                    text-align: center;
                    padding: 1.5rem;
                    color: white;
                    &:hover{
                        background-color: white;
                        color: $primary-color;
                    }
                }
            }
        }
    } 
}

.hamburger-menu{
    display: none;
}
.menu-float__container{
    position: absolute;
    top: 105%;
    left: 0;
    width: 900px;
    background-color: white;
    border-radius: 4px;
    z-index: 10000;
    padding: 1rem;
}
@media only screen and (max-width: 720px){
    .hamburger-menu{
        display: flex;
        background-color: red;
        z-index: 3000;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 15px;
        right: 10px;
        &:before{
            content: '';
            width: 40px;
            height: 4px;
            background-color: $primary-color;
            box-shadow: 0 8px,
                        0 16px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .main-menu__container{
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 2000;
        background-color: $primary-color;
        height: 100vh;
        width: 100vw;
        opacity: .95;
        padding-top: 20%;
    }
    .menu--main__content ul{
            flex-direction: column; 
    }
    .main-menu__active{
        left: 0%;
    }
}