@import "../config/config";

// LAYOUT: Macro arrangement of a web page, including any grid systems.
// Read more about SMACSS categorization for Drupal Themes: https://www.drupal.org/node/1887922

// This file is complied separately so we can pull in config dependencies above
// while also maintaining Drupals SMACSS structure.
@import "layout--grid";

.grid{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
    &-2{
        grid-template-columns: 1fr 1fr;
        &--20-80{
            grid-template-columns: 25% 75%;
            grid-gap: 30px;
        }
    }
    &-3{
        grid-template-columns: 1fr 1fr 1fr;
    }
    &-4{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &-5{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    &-6{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
 
.container-bg__title{
    background-image: url('../../images/source/bg-title.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-color: $primary-color;
    color: white;
    padding: 2.5rem 0;
    h1{
        margin: 0;
    }
}
.content{
    .views-element-container{
        padding: 1.5rem 0;
    }
}
.content-area{
    .views-element-container{
        padding: 3rem 0;
    }
}
.text-align-center{
    text-align: center;
}
.margin-top-10{
    margin-top: 10px
}
.padding-1-5rem{
    padding: 1.5rem;
}
.padding-3-0rem{
    padding: 3rem 0;
}
.padding-1-0-1-0{
    padding: 1rem 0 1rem 0;
}
.padding-2-0-2-0{
    padding: 2rem 0 2rem 0;
}
.padding-3-0-3-0{
    padding: 3rem 0 3rem 0;
}
.padding-2-1-2-1{
    padding: 2rem 1rem 2rem 1rem;
}
.margin-1-0-1-0{
    margin: 1rem 0;
}
.color-primary{
    color: $primary-color;
}
.flex-center-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.flex-col-cc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-start-start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.flex-col-ss{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-row-ssb{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.border-blue{
    border: 1px solid $primary-color;
}
.text__white{
    color: white;
}

.card{
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 8px 1px rgba(10, 10, 10, 0.1);
    &__bg-blue{
        background-color: $primary-color;
    }
    &__img{
        width: 100%;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img{
        width: 100%;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        padding: 0;
        margin: 0 auto;
        }
    }
    &__img-bg{
        height: 150px;
    }
    &__info-area{
        padding: 1rem;
        width: 100%;
    }
    &__actions{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        padding: 0rem 0rem 1rem 1rem;
        align-self: flex-end;
    }
    &__logo{
        width: 100%;
        height: 50px;
        padding-bottom: 1rem;
    }
    &__icon{
        width: auto;
        height: 120px;
    }
    &__icon-60px{
        width: auto;
        height: 80px;
        padding-bottom: 1rem;
    }
}

//estilos para las tarjetas de las empresas
.container-bg__primary__color{
    width: 100%;
    margin: auto;
    padding: 3rem;
    background-color: $primary-color;
}
.container-bg__secondary__color{
    width: 100%;
    margin: auto;
    background-color: #F5F5FB;
}

.btn{
    &__secondary{
        border: 1px solid $primary-color;
        padding: .5rem 1rem;
        border-radius: 4px;
    }
}

.slider{
    &__container{
        width: 100%;
    }
    &__content{
        width: 100%;
    }
}
.slide__caption{
    padding: 0;
}
.slick-slider{
    margin-bottom: 0;
}
.slick-list{
    position: relative;
}
.slick-dots{
    position: absolute;
    top: 90%;
    z-index: 1000;
}

// contact info

.contact-info{
    &__container{
        margin: 0 auto;
    }
    &__content{
        margin: 0 auto;
    }
    &-grid{
        grid-template-columns: 70px 20px 1fr 70px 20px 1fr;
        grid-template-rows: 40px 40px;
        grid-gap: 10px 20px;
        grid-auto-flow: row;
    }
    &__content-box{
        max-width: $max-screen;
    }
    &__box{
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-evenly;
        h4{
            margin: 0;
        }
    }
    &__icon{
        height: 70px;
    }
    &__bandera{
        width: 25px;
    }
}


.icon{
    &-mail{
        grid-column: 1;
        grid-row: 1 / 3;
    }
    &-phone{
        grid-column: 4;
        grid-row: 1 / 3;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}

// main--menu

.main-menu__container{
    background-color: $primary-color;
    margin: 0 auto;
}
.menu--main{
    width: 100%;
    .menu{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        .menu-item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            a{  
                width: 100%;
                text-align: center;
                padding: 1.5rem;
                color: white;
                &:hover{
                    background-color: white;
                    color: $primary-color;
                }
            }
        }
    } 
}

// rrss

.rrss__content{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}
.icon{
    width: 45px;
    padding: 4px 5px;
    transition: transform 1s ease,
                background-color 2s ease;
    background-color: rgba(50, 50, 50, 0.1);
    border-radius: 50%;
    &:hover{
        transform: scale(1.1,1.1);
        background-color: $primary-color;
    }
    &-normal{
        height: 50px;
    }
    &-big{
        width: 200px;
    }
    &-bigger{
        width: 320px;
    }
}


// footer


footer{
    h2{
        font-size: 1rem;
        color: $primary-color;
    }
    li{
        padding-bottom: .3rem;
    }
}
.footer__content > div{
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr;
    grid-gap: 30px;
    padding: 2rem 0;
}
footer .block-sitebranding{
    grid-column: 1 / 4;
    grid-row: 1; 
}

.footer-small{
    &__container{
        background-color: $primary-color;
    }
    &__content{
        padding: 1rem 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        p,a{
            color: white;
            font-size: .8rem;
        }
        p{
            margin: 0;
        }
        a:hover{
            text-decoration-line: underline;
        }
    }
}

// nosotros

.aniv{
    &__img{
        grid-column: 1 / 3;
    }
    &__text{
        grid-column: 4 / 7;
    }
}


.mision-vision{
    &__hero{
        grid-column: 1 / 4;
    }
    &__text{
        grid-column: 5 / 7;
    }
}

.valores-main{
    grid-column: 3 / 5;
}

.before-icon{
    padding-left: 25px;
    position: relative;
}

.icon-gps{
    &:before{
        content: '';
        width: 21px;
        height: 21px;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../../images/source/svg/icon-gps.svg);
    }
}
.icon-movil{
    &:before{
        content: '';
        width: 21px;
        height: 21px;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../../images/source/svg/icon-phone-blue.svg);
    }
}

.services-menu__ul{
    li{
        width: 100%;
        padding: .5rem .3rem;
        border-bottom: 1px solid $medium-gray;
        transition: background-color .1s ease,
                    padding-left .1s ease;
        &:hover{
            background-color: $light-gray;
            padding-left: .7rem;
        }
        &:active{
            background-color: $primary-color;
            color: white;
        }
    }
}

.btn__active{
    background-color: $primary-color;
    color: white;
}

.list-decorate{
    padding-left: 15px;
    li{
        list-style: circle;
        color: $primary-color;
    }
}

.service__emp{
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid $light-gray;
}

.img-100w{
    width: 100%;
}
.border-radius-8{
    border-radius: 8px;
}

.grid-emp{
    &__container-one{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 10px 80px 1fr 1fr;
        grid-template-rows: 80px auto 50px;
    }
    &__img{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: visible;
        justify-self: stretch;
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }
    &__icon{
        border-radius: 50%;
        height: 50px;
        width: 50px;
        border: 1px solid red;
        justify-self: end;
        align-self: center;
        margin-right: 20px;
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }
    &__title{
        color: red;
        justify-self: start;
        align-self: center;
        grid-column: 6 / 8;
        grid-row: 1 / 2;
        h2{
            margin: 0;
        }
    }
    &__box{
        border: 2px solid red;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column: 2 / 8;
        grid-row: 2 / 4;
        z-index: 10;
        ul{
            grid-column: 4 / 7;
        }
    }
}